/* Portfolio stylinnnnnn' */
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

* {
	font-family: 'Rubik', sans-serif;
}

#g4c {
    display: block;
    margin: auto;
    padding-top: 30px;
}

#pastpartners {
	font-weight: bold;
	/*font-style: italic;*/
}

#speaking img {
	display: block;
	margin: auto;
}

#speaking p{
	text-align: center;
	padding-top: 10px;
}

#speaking h2{
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}
